<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Документация по API</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swagger/ui.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/docs.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x16" />
    </head>
    <body>
        <div id="swagger-ui"></div>
        <script src="{{ url_for('static', filename='js/swagger/ui-bundle.js') }}"> </script>
        <script src="{{ url_for('static', filename='js/swagger/ui-standalone-preset.js') }}"> </script>
        <script>
            window.onload = function() {
                // Begin Swagger UI call region
                const ui = SwaggerUIBundle({
                    "dom_id": "#swagger-ui",
                    deepLinking: true,
                    presets: [
                        SwaggerUIBundle.presets.apis,
                        SwaggerUIStandalonePreset
                    ],
                    plugins: [
                        SwaggerUIBundle.plugins.DownloadUrl
                    ],
                    layout: "StandaloneLayout",
                    validatorUrl: "https://validator.swagger.io/validator",
                    url: "{{ url_for('static', filename='swagger/docs.yml') }}",
                });


                // End Swagger UI call region
                window.ui = ui
            }
        </script>
    </body>
</html>